<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- for icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="{% static  'css/style.css' %}">
    {% block link %}{% endblock link %}
    <title>Online Cleaning Services / {% block title %}{% endblock title %}</title>
</head>

<body>
    <nav id="navbar">
        <div id="logo">
            <img src="{% static 'images/logo.png' %}">
        </div>
        <div class="">
        <ul>
            <li class="item"><a href="{% url 'home' %}">Home</a></li>
            <li class="item"><a href="{% url 'staff' %}">Staff</a></li>
            <li class="item"><a href="#form-container">Request</a></li>
            <li class="item"><a href="#contacts">Contact Us</a></li>
            <li class="item"><a href="{% url 'logout' %}">Logout</a></li>
        </ul>
        </div>
    </nav>

    {% block home %}{% endblock home %}
    {% block staff %}{% endblock staff %}



</body>

</html>